*  {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 380px;
    height: 100px;
    margin: 30px;
    background-color: gray;
    text-align: center;
    border: 2px solid black;

}

.img {
    width: 80px;
    margin: 10px;
}

#container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.box2 {
    width: 205px;
    height: 80px;
    margin: 30px;
    background-color: gray;
    text-align: center;
    border: 2px solid black;
    }

.img2 {
    width: 65px;
    margin: 5px;
} 