* {
    box-sizing: border-box;
}

.row {
    border: 2px solid black;
    width: 900px;
    height: 600px;
    margin: auto;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: rgb(0, 132, 255);
}

.colum {
    height: 400px;
    width: 150px;
    float: left;
    margin: 30px;
    border: 1px solid black;
}